<app-header></app-header>

<div class="container my-5">
    <h1 class="text-center">Fatture Clienti</h1>
    <button type="button" class="btn btn-info btn-lg float-left" (click)="newFattura()"><i class="bi bi-journal-plus"></i></button>
    <table class="table table-striped">
        <thead>
          <tr class="barra">
            <th scope="col">#</th>
            <th scope="col">Data</th>
            <th scope="col">Numero</th>
            <th scope="col">Anno</th>
            <th scope="col">Importo</th>
            <th scope="col">Stato</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of fatture.contentf; index as i">
            <th scope="row">{{i + 1}} </th>
            <td>{{item.data}}</td>
            <td>{{item.numero}</td>
            <td>{{item.anno}}</td>
            <td>{{item.importo}}</td>
            <td>{{item.stato.nome}}</td>
            <td></td>
             <td>
          <button type="button" class="btn btn-outline-danger btn-sm mx-1" ><i
              class="bi bi-trash"></i></button>
        </td>
         
          </tr>
        </tbody>
       
      </table>
</div>