<app-header></app-header>

<div class="container my-5">
    <h1 class="text-center">Fatture Clienti</h1>
    <table class="table table-striped">
        <thead>
          <tr class="barra">
            <th scope="col">#</th>
            <th scope="col">Data</th>
            <th scope="col">Numero</th>
            <th scope="col">Anno</th>
            <th scope="col">Importo</th>
            <th scope="col">Stato</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of fattura.contentf; index as i">
            <th scope="row">{{i + 1}} </th>
            <td>{{item.data}}</td>
            <td>{{item.numero}}</td>
            <td>{{item.importo}}</td>
            <td>{{item.stato.nome}}</td>
            <td> <button type="button" class="btn btn-outline-success btn-sm mx-2" ><i
              class="bi bi-journal-text"></i></button>
        </td>
            <td>
              {{fattura | json}}
            </td>
          </tr>
        </tbody>
      </table>
</div>