<div class="container_first ">


<div class="container my-3">
    <div class="card text-center" id="bgcard">
      <form class="form-signin">
        <img class="mb-4" src="../../assets/img/logo.png" alt="logo" id="logo_ep" >
       
        <label for="inputEmail" class="sr-only ">Email</label>
        <input type="email" name="loginEmail" [(ngModel)]="loginEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="loginPassword" [(ngModel)]="loginPassword" id="inputPassword" class="form-control" placeholder="Password" required>
     
        <button class="btn btn-lg btn-info btn-block text-dark" id="sfondino" (click)="signin()">ENTRA</button>
        <p class="mt-5 mb-3 text-light">&copy; FrontEnd 0421</p>
      </form>
    </div>
  </div>
</div>