
body {
  height:100vh;
    width:100%;
    background-image: linear-gradient(
      135deg, #0f63f6, #13f2d8, #14ef3e8a) !important;
      
}

#logo_ep{
  border-radius: 5px;
  width:70%
}
.container {
  margin: 200px auto !important;
  width: 500px;
}
#bgcard{
  background-color: #ffffff7d;
  box-shadow: 0 0 5px 4px;
  border-radius: 8px;
}
#sfondino{
  background-image: linear-gradient(
      135deg, #0f63f6, #13f2d8, #14ef3e8a);
}
body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
 
  
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }